# Build artifacts
build/
dist/
*.exe
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Server uploaded files
server_files/
